<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Private chat room | Tutorialzine Demo</title>
	<link rel="stylesheet" href="../css/estilos.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="banner">
		<h1 class="bannertext">
			<a href="#" id="logo">El Futbolero<span> La Polla!!!</span></a>
		</h1>
	</header>
	<section>
		<div class="homesection">
<!-- 			<div class="node">
				<figure>
					<img src="" alt="" id="nodelogo"/>
					<div class="big">
						ToDO: agregara imagen
					</div>
				</figure>
				<h2 id="chat">Powered KCT Labs.</h2>
			</div>
 -->			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">
						<p>Que como va a estar el partido?</p>
						<p>
							discutelo en tu
						</p>
					</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
